body {
    margin:0;
    padding:0
}

/* Avec le display:flex Les éléments 
font être posé les uns à côté des 
autres sur un plan horizontal*/

/* Avec le display:inline-flex va 
permettre de contenier l'espace 
nécessaire qu'il faut pour 
contenir les éléments*/

.container{
    background-color: sandybrown;
    padding: 17px;
    display: inline-flex;
}
.item{
    background-color: beige;
    padding: 10px;
    margin: 8px;
}